other/blazeFrameworkDefinition.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 8.1.5.2538 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:b="http://www.blazebit.com/schemas/framework/blaze" elementFormDefault="qualified" targetNamespace="http://www.blazebit.com/schemas/framework/blaze" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="viewRoot">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="head" type="b:head" minOccurs="1" maxOccurs="1" />
                <xs:element name="body" type="b:body" minOccurs="1" maxOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="CoreAttributes">
        <xs:attribute name="Id" type="xs:string" />
        <xs:attribute name="class" type="xs:string" />
        <xs:attribute name="style" type="xs:string" />
        <xs:attribute name="title" type="xs:string" />
    </xs:attributeGroup>
    <xs:attributeGroup name="LinkableAttributes">
        <xs:attribute name="href" type="xs:anyURI" />
        <xs:attribute name="target" type="b:targetTypes" />
    </xs:attributeGroup>
    <xs:attributeGroup name="ExternalContent">
        <xs:attribute name="src" type="xs:anyURI" />
    </xs:attributeGroup>
    <xs:attributeGroup name="Sizeable">
        <xs:attribute name="height" type="xs:string" />
        <xs:attribute name="width" type="xs:string" />
    </xs:attributeGroup>
    <xs:attributeGroup name="Alternativeable">
        <xs:attribute name="alt" type="xs:string" />
    </xs:attributeGroup>
    <xs:attributeGroup name="ValueHolder">
        <xs:attribute name="value" type="xs:string" />
    </xs:attributeGroup>
    <xs:attributeGroup name="EditableValueHolder">
        <xs:attributeGroup ref="b:ValueHolder" />
    </xs:attributeGroup>
    <xs:attributeGroup name="Output">
        <xs:attributeGroup ref="b:ValueHolder" />
        <xs:attribute name="converterId" type="xs:string" />
    </xs:attributeGroup>
    <xs:attributeGroup name="Command">
        <xs:attributeGroup ref="b:CoreAttributes" />
        <xs:attribute name="action" type="xs:string" />
        <xs:attribute name="actionListener" type="xs:string" />
    </xs:attributeGroup>
    <xs:simpleType name="targetTypes">
        <xs:restriction base="xs:token">
            <xs:enumeration value="_blank" />
            <xs:enumeration value="_parent" />
            <xs:enumeration value="_self" />
            <xs:enumeration value="_top" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ouputTextTypes">
        <xs:restriction base="xs:token">
            <xs:enumeration value="p" />
            <xs:enumeration value="em" />
            <xs:enumeration value="strong" />
            <xs:enumeration value="dfn" />
            <xs:enumeration value="code" />
            <xs:enumeration value="samp" />
            <xs:enumeration value="kbd" />
            <xs:enumeration value="var" />
            <xs:enumeration value="cite" />
        </xs:restriction>
    </xs:simpleType>
    <xs:group name="HeadElements">
        <xs:sequence>
            <xs:element name="title" type="b:title" minOccurs="1" maxOccurs="1" />
            <xs:element name="base" type="b:base" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:group>
    <xs:group name="BodyElements">
        <xs:sequence>
            <xs:element name="form" type="b:form" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="outputText" type="b:outputText" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="address" type="b:address" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="bdo" type="b:bdo" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="article" type="b:article" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="aside" type="b:aside" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="commandButton" type="b:commandButton" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="commandLink" type="b:commandLink" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="link" type="b:link" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="image" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="b:image">
                            <xs:sequence>
                                <xs:element name="area" type="b:area" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="quote" type="b:quote" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:group>
    <xs:group name="EditableValueHolderBase">
        <xs:sequence>
            <xs:element name="validator" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:group>
    <xs:complexType name="head">
        <xs:group ref="b:HeadElements" />
    </xs:complexType>
    <xs:complexType name="body">
        <xs:group ref="b:BodyElements" />
    </xs:complexType>
    <xs:complexType name="title">
        <xs:attribute name="value" type="xs:string" />
    </xs:complexType>
    <xs:complexType name="base">
        <xs:attribute name="href" type="xs:anyURI" />
        <xs:attribute name="target" type="b:targetTypes" />
    </xs:complexType>
    <xs:complexType name="form">
        <xs:attributeGroup ref="b:CoreAttributes" />
    </xs:complexType>
    <xs:complexType name="outputText">
        <xs:attribute name="value" type="xs:string" />
        <xs:attribute name="type" type="b:ouputTextTypes" />
        <xs:attributeGroup ref="b:CoreAttributes" />
    </xs:complexType>
    <xs:complexType name="address">
        <xs:attributeGroup ref="b:CoreAttributes" />
    </xs:complexType>
    <xs:complexType name="area">
        <xs:attributeGroup ref="b:CoreAttributes" />
        <xs:attribute name="alt" />
        <xs:attribute name="coords" />
        <xs:attribute name="shape">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="rect" />
                    <xs:enumeration value="rectangle" />
                    <xs:enumeration value="circ" />
                    <xs:enumeration value="circle" />
                    <xs:enumeration value="poly" />
                    <xs:enumeration value="polygon" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="b:LinkableAttributes" />
    </xs:complexType>
    <xs:complexType name="bdo">
        <xs:attributeGroup ref="b:CoreAttributes" />
        <xs:attribute name="dir">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="ltr" />
                    <xs:enumeration value="rtl" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="article">
        <xs:attributeGroup ref="b:CoreAttributes" />
    </xs:complexType>
    <xs:complexType name="aside">
        <xs:attributeGroup ref="b:CoreAttributes" />
    </xs:complexType>
    <xs:complexType name="commandButton">
        <xs:attributeGroup ref="b:Command" />
        <xs:attributeGroup ref="b:ValueHolder" />
        <xs:attribute name="disabled" type="xs:boolean" />
    </xs:complexType>
    <xs:complexType name="commandLink">
        <xs:attributeGroup ref="b:Command" />
        <xs:attributeGroup ref="b:ValueHolder" />
    </xs:complexType>
    <xs:complexType name="link">
        <xs:attributeGroup ref="b:LinkableAttributes" />
        <xs:attributeGroup ref="b:CoreAttributes" />
        <xs:attributeGroup ref="b:ValueHolder" />
    </xs:complexType>
    <xs:complexType name="image">
        <xs:attributeGroup ref="b:CoreAttributes" />
        <xs:attributeGroup ref="b:ExternalContent" />
        <xs:attributeGroup ref="b:Sizeable" />
        <xs:attributeGroup ref="b:Alternativeable" />
    </xs:complexType>
    <xs:complexType name="quote">
        <xs:attribute name="block" type="xs:boolean" />
        <xs:attributeGroup ref="b:CoreAttributes" />
    </xs:complexType>
</xs:schema>
